{
    "require": {

    },
    "require-dev": {
        "apigen/apigen": "dev-master",
        "vlucas/phpdotenv": "^3.6",
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "^7.0",
        "roave/better-reflection": "dev-master",
        "squizlabs/php_codesniffer": "3.*"
    },
    "autoload": {
        "psr-4": {
            "WeDev\\WeDev\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "WeDevTest\\WeDev\\": "test/"
        }
    },
    "scripts": {
        "pre-install-cmd": [
            "[[ -f .git/hooks/commit-msg ]] || curl https://gist.githubusercontent.com/wesbos/8aec9d2ff7f7cf9dd65ca2c20d5dfc23/raw/f662c8b15515180c8310e2d20d192dd3d92a7d28/commit-msg --output .git/hooks/commit-msg && chmod +x .git/hooks/commit-msg"
        ]
    },
    "minimum-stability": "stable",
    "prefer-stable": true
}